# import react
snippet imr import React
		import React from 'react'

# log
snippet log console.log
		console.log(${1:LogString})

# function
snippet fn function
		function ${1:functionName}(${2:params}) {
			${3:body}
		}


# Component
snippet fc 
		export const ${1:name}: React.FC<Props> = ({${2:props}}) => {
			return (${3:body})
		}
